{{#each students as |student|}}
<tr data-id="{{student.id}}">
<td data-id="{{student.id}}"><button id="deleteStudent{{student.id}}" class="btn btn-default deleteRequest">Delete</button></td>
<td data-id="{{student.id}}"><button id="editStudent{{student.id}}" class="btn btn-default editStudent" data-toggle="modal" data-target="#updateStudent">Edit</button></td>
<td class="sname" name="[student][name]"><{{student.name}}</td>
<td class="scontact" name="[student][email]"><{{student.email}}</td>
<td class="saddresss" name="[student][addresss]"><{{student.addresss}}</td>
<td class="smessage" name="[student][gender]"><{{student.gender}}</td>
<td class="saddresss" name="[student][division]"><{{student.division}}</td>
<td class="smessage" name="[student][dateofbirth]"><{{student.dateofbirth}}</td>
</tr>
{{/each}}
