{{#each students as |student|}}
<tr data-id="{{student.id}}" >
  <td data-id="{{student.id}}"><button id="deleteStudent{{student.id}}" class="btn btn-default deleteStudent">Delete</button></td>
  <td data-id="{{student.id}}"><button id="editStudent{{student.id}}" class="btn btn-default editStudent" data-toggle="modal" data-target="#updateStudent">Edit</button></td>
  <td class="sname" name="[student][name]">{{student.name}}</td>
  <td id="semail-{{student.id}}"class="semail" name="[student][email]">{{student.email}}</td>
  <td id="saddress-{{student.id}}"class="saddress" name="[student][address]">{{student.address}}</td>
  <td class="sgender" name="[student][gender]">{{student.gender}}</td>
  <td id="sdivision-{{student.id}}" class="sdivision" name="[student][division]">{{student.division}}</td>
  <td class="sbirth" name="student[dob]">{{student.dob}}</td>
</tr>
{{/each}}
